//wrapper style and website arrangement
.wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 60px 400px 100px auto auto 500px 200px;
    gap: 10px;
    grid-template-areas:
        "nav nav nav"
        ". header ."
        ". aside ."
        ". about ."
        ". main ."
        "contact contact contact"
        "footer footer footer";
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

.about {
    grid-area: about;
}

main {
    grid-area: main;
}

.contact {
    grid-area: contact;
}

footer {
    grid-area: footer;
}